{% extends "auctions/layout.html" %} {% load static %} {% block body %}

<!--Main Content-->
<div class="container">
  <h1>Pagina Administrativa</h1>
  <small class="text-muted"
    >Si eres un administrador, podras: Anadir productos, actualizar descripcion,
    y precios, o eliminar productos descontinuados.</small
  >
  <hr />

  <div class="container">
    {% comment %} <form method="post">
      {% csrf_token %} {% endcomment %}

      <!-- List Of Products -->
      <a href="" class="purple-text">
        <h5>Lista De Productos</h5>
      </a>
      <ul class="list-group mb-3 z-depth-1">
        {% for product in allProducts %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h5 class="my-0 dark-grey-text">{{ product.name }}</h5>
            <small class="text-muted">Brief description</small>
          </div>

          <h5>
            <span class="text-muted font-weight-bold purple-text"
              >${{ product.price }}</span
            >
            <br />
            <button style="border-color: transparent">
              <span class="badge badge-pill primary-color">Update</span>
            </button>
            <button style="border-color: transparent" id="delete" action="{% url 'changingProduct' product.id %}">
              <span class="badge badge-pill danger-color">Delete</span>
            </button>
          </h5>
        </li>
        {% endfor %}
      </ul>

  </div>
  <!-- List Of Products -->

  <!-- Add Product -->
  <div class="container">
    <hr />

    <a href="" class="purple-text">
      <h5>Nuevo Producto</h5>
    </a>
    <small class="text-muted"
      >Llena el formulario. Necesitaras ingresar un nombre, description del
      producto y precio. Para adjuntar una imagen del producto, por favor
      comunicarse con el Developer autorizado.</small
    >
    <br />

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <!--Form New Product-->
    <div class="card">
      <!--New Product content-->
      <form class="card-body" action="{% url 'adminProduct' %}" method="post">
        {% csrf_token %}
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6 mb-2">
            <!--Product Name-->
            <div>
              <label for="#">Nombre Del Producto</label>
              <input
                type="text"
                class="form-control"
                id="zip"
                placeholder=""
                name="newProdName"
              />
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 mb-2">
            <!--Product Price-->
            <div>
              <label for="#">Precio</label>
              <input
                type="text"
                class="form-control"
                id="zip"
                placeholder=""
                name="newProdPrice"
              />
            </div>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->

        <!--Product Description-->

        <label for="#">Description</label>
        <textarea
          type="text"
          class="form-control"
          id="zip"
          placeholder=""
          name="newProdDescpt"
        ></textarea>

        <hr class="mb-4" />
        <button class="btn btn-primary btn-lg btn-block" type="submit">
          Crear Nuevo Producto
        </button>
      </form>
    </div>
    <!--/.Form New Product-->
  </div>
  <!--Main Content-->
</div>

<!--Footer-->
<footer
  class="page-footer text-center font-small mt-4 wow fadeIn"
  style="background-color: #faf0e6"
>
  <hr class="my-4" />

  <!-- Social icons -->
  <div class="pb-4">
    <a
      href="https://www.facebook.com/Juzmooth-879856658763480"
      class="nav-link waves-effect"
      target="_blank"
    >
      <i class="fab fa-facebook-f"></i>
    </a>

    <a
      href="https://www.instagram.com/juzmooth/?hl=es"
      class="nav-link waves-effect"
      target="_blank"
    >
      <i class="fab fa-instagram"></i>
    </a>
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2020 Copyright:
    <a href="#" target="_blank"> Juzmooth </a>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->

{% endblock %}
