{% extends "auctions/layout.html" %} {% load static %} {% block body %}

<!--Main Content-->
<h1>Testing</h1>
    <hr>
    <div class="container">
      <form method="post">
      {% csrf_token %}
      <input type="hideen" name="hi" value="2"/>
      <input type="submit" name="clicked" value="click"/>

      <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5>Detox</h5>
                </a>
                <h5>
                  <strong>
                    <a href="{% url 'product' %}" class="dark-grey-text">Cucumber-Jugo Verde
                     <span class="badge badge-pill primary-color">bestseller</span>
                    </a>
                  </strong>
                </h5>
                <h4 class="font-weight-bold blue-text">
                  <strong>$4.20</strong>
                </h4>
      </form>
    </div>
<!--Main Content-->


 <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn" style="background-color: #FAF0E6;">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/Juzmooth-879856658763480" class="nav-link waves-effect" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>

      <a href="https://www.instagram.com/juzmooth/?hl=es" class="nav-link waves-effect" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2020 Copyright:
      <a href="#" target="_blank"> Juzmooth </a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->
</div>



{% endblock %}
