{% extends "auctions/layout.html" %} {% load static %} {% block body %}

<!--Main Content-->
<div class="container">
  <h1>Página Administrativa</h1>
  <small class="text-muted"
    >Si eres un administrador, podras: eliminar clientes y verificar su
    información.</small
  >
  <hr />
  <!--Section: Products v.3-->
  <section class="mb-4">
    <!-- Div Table Of Products -->
    <div class="container-fluid">
      <a href="" class="purple-text">
        <h5>Lista De Clientes</h5>
      </a>
      <!-- Table Of Products -->
      <table class="table table-hover mb-3 z-depth-1 border-right: solid 1px">
        <thead>
          <tr class="auto">
            <th scope="col" class="my-0 h5 dark-grey-text">ID</th>
            <th scope="col" class="my-0 h5 dark-grey-text">Nombre</th>
            <th scope="col" class="my-0 h5 dark-grey-text">Email</th>
            <th scope="col" class="my-0 h5 dark-grey-text">
              Fecha de creacion
            </th>
          </tr>
        </thead>
        <tbody>
          <!--For loop for client list -->
          {% for client in clients %}
          <tr class="auto">
            <td scope="row border-right: solid 1px">{{ client.id }}</td>
            <td class="border-right: solid 1px">{{ client.username }}</td>
            <td class="border-right: solid 1px">{{ client.email }}</td>
            <td class="border-right: solid 1px">{{ client.date_joined }}</td>
            {% if client.is_staff %}
            <td>
              <a
                style="border-color: transparent; background-color: transparent"
                href="#"
              >
                <button
                  class="badge badge-pill primary-color"
                  style="
                    border-color: transparent;
                    background-color: transparent;
                  "
                  id="delete_ord"
                  onclick="return confirm('La acción eliminará permanentemente al cliente. Desea continuar?');"
                >
                  <span class="badge badge-pill primary-color green-text"
                    >Permanent</span
                  >
                </button>
              </a>
            </td>
            {% else %}
            <td>
              <a
                style="border-color: transparent; background-color: transparent"
                href="#"
              >
                <button
                  class="badge badge-pill danger-color"
                  style="
                    border-color: transparent;
                    background-color: transparent;
                  "
                  id="delete_ord"
                  onclick="return confirm('La acción eliminará permanentemente al cliente. Desea continuar?');"
                >
                  <span class="badge badge-pill danger-color">Delete</span>
                </button>
              </a>
            </td>
          </tr>
          {% endif %} {% endfor %}
          <!--.End of For loop for order list -->
        </tbody>
      </table>
      <!--Grid column table-->
    </div>
    <!-- Table Of Products -->
  </section>
  <!--Section: Products v.3-->

  <!--Main Content-->
</div>

<!--Footer-->
<footer
  class="page-footer text-center font-small mt-4 wow fadeIn"
  style="background-color: #faf0e6"
>
  <hr class="my-4" />

  <!-- Social icons -->
  <div class="pb-4">
    <a
      href="https://www.facebook.com/Juzmooth-879856658763480"
      class="nav-link waves-effect"
      target="_blank"
    >
      <i class="fab fa-facebook-f"></i>
    </a>

    <a
      href="https://www.instagram.com/juzmooth/?hl=es"
      class="nav-link waves-effect"
      target="_blank"
    >
      <i class="fab fa-instagram"></i>
    </a>
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2020 Copyright:
    <a href="#" target="_blank"> Juzmooth </a>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->

{% endblock %} {% block script %}
<script
  type="text/javascript"
  src="http://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.2/trianglify.min.js"
></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
  window.CSRF_TOKEN = "{{ csrf_token }}";
</script>
<script src="{% static 'auctions/main.js' %}"></script>
{% endblock %}
