{% extends "auctions/layout.html" %} {% load static %} {% block body %}

<div class="container">
  <img
    src="{% static 'auctions/juzmooth/juz_logo_grass.jpg' %}"
    class="card-img-top"
    alt=""
  />

  <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <img src="{% static 'auctions/juzmooth/juz_green.jpg' %}" class="card-img-top" alt="">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center" name="product_value" value="2">
                 <form action="{% url 'product' 2 %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="product_value" value="2"/>
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5>Detox</h5>
                </a>
                <h5>
                  <strong>
                    <a href="#" class="dark-grey-text">Cucumber-Jugo Verde
                     <span class="badge badge-pill primary-color">bestseller</span>
                    </a>
                  </strong>
                </h5>
                <h4 class="font-weight-bold blue-text">
                  <strong>$4.20</strong>
                </h4>
                <input type="submit" name="clicked" value="Detalles" id="details"/>
                </form>
              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <img src="{% static 'auctions/juzmooth/juz_red.jpg' %}" class="card-img-top" alt="">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
              <form action="{% url 'product' 3 %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="product_value" value="3"/>
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5>Energy</h5>
                </a>
                <h5>
                  <strong>
                    <a href="#" class="dark-grey-text">Red Lemonade</a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>$3.80</strong>
                </h4>
                  <input type="submit" name="clicked" value="Detalles" id="details"/>
                </form>
              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <img src="{% static 'auctions/juzmooth/juz_lemon.png' %}" class="card-img-top" alt="">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
              <form action="{% url 'product' 1 %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="product_value" value="1"/>
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5>Accelera</h5>
                </a>
                <h5>
                  <strong>
                    <a href="#" class="dark-grey-text">Accelerador de Metabolismo
                      <span class="badge badge-pill primary-color">bestseller</span>
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>$2</strong>
                </h4>
                  <input type="submit" name="clicked" value="Detalles" id="details"/>
                </form>
              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->

          <!--Fourth column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <img src="{% static 'auctions/juzmooth/juz_shots.png' %}" class="card-img-top" alt="">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
              <form action="{% url 'product' 4 %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="product_value" value="4"/>
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5>Fortalece</h5>
                </a>
                <h5>
                  <strong>
                    <a href="#" class="dark-grey-text">Ginger B - Botella de Jengibre
                    <span class="badge badge-pill danger-color">NEW</span>
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>$15</strong>
                </h4>
                  <input type="submit" name="clicked" value="Detalles" id="details"/>
                </form>
              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Fourth column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <img src="{% static 'auctions/juzmooth/juz_plan.png' %}" class="card-img-top" alt="">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
              <form action="{% url 'product' 5 %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="product_value" value="5"/>
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5>Detox</h5>
                </a>
                <h5>
                  <strong>
                    <a href="#" class="dark-grey-text">For the week - Plan
                      <span class="badge badge-pill danger-color">NEW</span>
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>$45</strong>
                </h4>
                  <input type="submit" name="clicked" value="Detalles" id="details"/>
                </form>
              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <img src="{% static 'auctions/juzmooth/juz_purple.png' %}" class="card-img-top" alt="">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
              <form action="{% url 'product' 6 %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="product_value" value="6"/>
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5>Circulacion</h5>
                </a>
                <h5>
                  <strong>
                    <a href="#" class="dark-grey-text">Chai Tea</a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>$4.20</strong>
                </h4>
                  <input type="submit" name="clicked" value="Detalles" id="details"/>
                </form>
              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <img src="{% static 'auctions/juzmooth/juz_sunshine.png' %}"class="card-img-top" alt="">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
              <form action="{% url 'product' 7 %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="product_value" value="7"/>
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5>Diuretico</h5>
                </a>
                <h5>
                  <strong>
                    <a href="#" class="dark-grey-text">Sunshine
                      <span class="badge badge-pill primary-color">bestseller</span>
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>$3.80</strong>
                </h4>
                  <input type="submit" name="clicked" value="Detalles" id="details"/>
                </form>
              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->

          <!--Fourth column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <img src="{% static 'auctions/juzmooth/juz_fresh+clean.png' %}"class="card-img-top" alt="">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
              <form action="{% url 'product' 8 %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="product_value" value="8"/>
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5>Hidrata</h5>
                </a>
                <h5>
                  <strong>
                    <a href="#" class="dark-grey-text">Fresh + Clean</a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>$3.80</strong>
                </h4>
                  <input type="submit" name="clicked" value="Detalles" id="details"/>
                </form>
              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Fourth column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Products v.3-->



    </div>
  </main>
  <!--Products layout-->

  <!--Ingredients layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Nuestros Ingredientes</h4>

          <p><strong>¿ Por qué tomar Juzmooth?</strong> Por que nuestros jugos, shots y bebidas no contienen preservantes ni
azúcar añadida y cada uno está elaborado para una función específica
en tu cuerpo como: mejorar tu sistema inmune, mejorar tu piel ,
eliminar toxinas, acelerar tu metabolismo, cargarte de vitaminas y
energía, etc. tu elijes !!!</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <br>

      <!--Grid row-->
      <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-5 card-container">
              <!-- Rotating card -->
              <div class="card card-wrapper">
                  <div class="front"> <!-- Front Side -->
                        <!-- Image-->
                        <div>
                          <img src="{% static 'auctions/juzmooth/turmeric.jpg' %}" class="img-fluid" alt="">
                          <!-- Triggering button -->
                          <a class="rotate-btn footer text-center" >
                              <div class="rating">
                                  <i class="fa fa-mail-forward"></i> Curcuma
                              </div>
                          </a>
                        </div>
                  </div> <!-- end front panel -->

                  <div class="back">
                    <div class="content">
                        <div class="main">
                            <!-- Content -->
                            <h4 class="font-weight-bold mb-0 text-center">About me</h4>
                            <hr>
                            <p class="text-center">
                            Alivia el malestar estomacal. Remedio natural muy efectivo para el malestar estomacal. Trata trastornos hepáticos. Es un potente antiinflamatorio. Protege de las enfermedades cardiovasculares.
                            <hr>
                            </p>
                            <!-- Triggering button -->
                            <a class="rotate-btn footer text-center" >
                              <div class="rating">
                                <i class="fa fa-mail-forward"></i> Curcuma
                              </div>
                            </a>
                        </div>
                    </div>
                  </div> <!-- end back panel -->
              </div> <!-- end card -->
          </div> <!-- end card-container -->
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-5 card-container">
              <!-- Rotating card -->
              <div class="card card-wrapper">
                  <div class="front"> <!-- Front Side -->
                        <!-- Image-->
                        <div>
                            <img src="{% static 'auctions/juzmooth/lemons.jpg' %}" class="img-fluid" alt="">
                            <!-- Triggering button -->
                            <a class="rotate-btn footer text-center" >
                              <div class="rating">
                                <i class="fa fa-mail-forward"></i> Limon
                              </div>
                            </a>
                        </div>
                  </div> <!-- End Front Side -->

                  <!-- Back Side -->
                  <div class="back">
                      <div class="content">
                          <div class="main">
                              <!-- Content -->
                              <h4 class="font-weight-bold mb-0 text-center">About me</h4>
                              <hr>
                              <p class="text-center">
                              Es diurético, combate infecciones causadas por bacterias, ayuda a reforzar el sistema inmunológico y nervioso. Tiene capacidad antioxidante.
                              <hr>
                              </p>
                              <!-- Triggering button -->
                              <a class="rotate-btn footer text-center" >
                                <div class="rating">
                                  <i class="fa fa-mail-forward"></i> Limon
                                </div>
                              </a>
                          </div>
                      </div>
                  </div> <!-- end back panel -->
              </div> <!-- end card -->
          </div> <!-- end card-container -->

          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-5 card-container">
            <div class="card card-wrapper">
                <div class="front">
                    <div>
                        <img src="{% static 'auctions/juzmooth/canela.jpg' %}" class="img-fluid" alt="">
                        <!-- Triggering button -->
                        <a class="rotate-btn footer text-center" >
                          <div class="rating">
                            <i class="fa fa-mail-forward"></i> Canela
                          </div>
                        </a>
                    </div>
                </div> <!-- end front panel -->
                <div class="back">
                    <div class="content">
                        <div class="main">
                            <!-- Content -->
                            <h4 class="font-weight-bold mb-0 text-center">About me</h4>
                            <hr>
                            <p class="text-center">
                            Fuente de hierro, calcio, fibra, vitaminas C y B1 y selenio. Buena para personas con glucosa alta. Es beneficiosa para el colesterol y triglicéridos. Es buena para el cerebro. Ayuda a controlar la diabetes. Ayuda en la digestion. Disminuye el apetito.
                            <hr>
                            </p>
                            <!-- Triggering button -->
                            <a class="rotate-btn footer text-center" >
                              <div class="rating">
                                <i class="fa fa-mail-forward"></i> Canela
                              </div>
                            </a>
                        </div>
                    </div>
                </div> <!-- end back panel -->
            </div> <!-- end card -->
          </div> <!-- end card-container -->

          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-5 card-container mt-5">
                <!-- Rotating card -->
                <div class="card card-wrapper">
                    <div class="front"> <!-- Front Side -->
                      <!-- Image-->
                      <div>
                        <img src="{% static 'auctions/juzmooth/ginger.jpg' %}" class="img-fluid" alt="">
                        <!-- Triggering button -->
                        <a class="rotate-btn footer text-center" >
                            <div class="rating">
                                <i class="fa fa-mail-forward"></i> Jengibre
                            </div>
                        </a>
                      </div>
                    </div> <!-- end front panel -->

                    <div class="back">
                      <div class="content">
                          <div class="main">
                              <!-- Content -->
                              <h4 class="font-weight-bold mb-0 text-center">About me</h4>
                              <hr>
                              <p class="text-center">
                              Contribuye a la pérdida de apetito. Contrarresta el mareo y el dolor. Mejora la digestión. Combate la gripe. Reduce dolores musculares (anti-inflamatorio). Disminuye los niveles de azúcar en la sangre. Disminuye el dolor menstrual.
                              <hr>
                              </p>
                              <!-- Triggering button -->
                              <a class="rotate-btn footer text-center" >
                                <div class="rating">
                                  <i class="fa fa-mail-forward"></i> Jengibre
                                </div>
                              </a>
                          </div>
                      </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->

          <!--Grid column-->

          <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-5 card-container mt-5">
              <!-- Rotating card -->
              <div class="card card-wrapper">
                  <div class="front"> <!-- Front Side -->
                      <!-- Image-->
                      <div>
                        <img src="{% static 'auctions/juzmooth/black_tea.jpg' %}" class="img-fluid" alt="">
                        <!-- Triggering button -->
                        <a class="rotate-btn footer text-center" >
                            <div class="rating">
                                <i class="fa fa-mail-forward"></i> Te Negro / Verde
                            </div>
                        </a>
                      </div>
                  </div> <!-- end front panel -->

                  <div class="back">
                      <div class="content">
                          <div class="main">
                            <!-- Content -->
                              <h4 class="font-weight-bold mb-0 text-center">About me</h4>
                              <hr>
                              <p class="text-center">
                              Antioxidante. Mejora el funcionamiento del cerebro. Elimina las grasas. Mejora el rendimiento físico. Previene las enfermedades cardiovasculares.
                              <hr>
                              </p>
                              <!-- Triggering button -->
                              <a class="rotate-btn footer text-center" >
                                <div class="rating">
                                  <i class="fa fa-mail-forward"></i> Te Negro / Verde
                                </div>
                              </a>
                          </div>
                      </div>
                  </div> <!-- end back panel -->
              </div> <!-- end card -->
          </div> <!-- end card-container -->

          <!--Grid column-->

          <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-5 card-container mt-5">
              <!-- Rotating card -->
              <div class="card card-wrapper">
                  <div class="front"> <!-- Front Side -->
                      <!-- Image-->
                      <div>
                        <img src="{% static 'auctions/juzmooth/jamaica.jpg' %}" class="img-fluid" alt="">
                        <!-- Triggering button -->
                        <a class="rotate-btn footer text-center" >
                            <div class="rating">
                                <i class="fa fa-mail-forward"></i> Flor De Jamaice
                            </div>
                        </a>
                      </div>
                  </div> <!-- end front panel -->

                  <div class="back">
                      <div class="content">
                          <div class="main">
                              <!-- Content -->
                              <h4 class="font-weight-bold mb-0 text-center">About me</h4>
                              <hr>
                              <p class="text-center">
                              Ayuda prevenir el envejecimiento prematuro. Combate infecciones respiratorias, la anemia y la fatiga. Elimina el insomio. Combate infecciones repsiratorias. Limpia el hígado y los riñones.
                              <hr>
                              </p>
                              <!-- Triggering button -->
                              <a class="rotate-btn footer text-center" >
                                <div class="rating">
                                  <i class="fa fa-mail-forward"></i> Flore De Jamaica
                                </div>
                              </a>
                          </div>
                      </div>
                  </div> <!-- end back panel -->
              </div> <!-- end card -->
          </div> <!-- end card-container -->

          <!--Grid column-->
      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Ingredients layout-->

  <!--ColdPress Process layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Nuestro Proceso Cold-Press</h4>

          <p><strong>PRENSADOS AL FRIO</strong> característica importante porque se
obtiene un 80% más de vitaminas que con un extractor normal; son jugos de
verduras combinadas de tal forma que tu cuerpo recibirá la mayor cantidad de
vitaminas y eliminará la mayor cantidad de toxinas, potenciados con súper
alimentos como el jengibre , la cúrcuma o la canela, podrás sentir como al
tomar un jugo Juzmooth tu cuerpo se re reinicia, limpia tu aparato digestivo,
elimina toxinas, limpia tu piel y tu sangre, etc.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <br>

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="container">

          <img src="{% static 'auctions/juzmooth/juz_all.jpg' %}" class="card-img-top" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--ColdPress Process layout-->

  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn" style="background-color: #FAF0E6;">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/Juzmooth-879856658763480" class="nav-link waves-effect" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>

      <a href="https://www.instagram.com/juzmooth/?hl=es" class="nav-link waves-effect" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2020 Copyright:
      <a href="#" target="_blank"> Juzmooth </a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->
</div>



{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="{% static 'auctions/main.js' %}"></script>
{% endblock %}
