{% extends "auctions/layout.html" %} {% load static %} {% block body %}

<!--Main Content-->
<div class="container">
  <h1>Pagina Administrativa</h1>
  <small class="text-muted"
    >Si eres un administrador, podras: eliminar ordenes que ya esten realizadas
    y mantener ordenes para futuras entregas.</small
  >
  <hr />

  <div class="container">
    <a href="" class="purple-text">
      <h5>Lista De Pedidos</h5>
    </a>
    <!-- Table Of Products -->
    <table class="table table-hover mb-3 z-depth-1 border-right: solid 1px">
      <thead>
        <tr>
          <th scope="col" class="my-0 h5 dark-grey-text">Cliente</th>
          <th scope="col" class="my-0 h5 dark-grey-text">Telefono</th>
          <th scope="col" class="my-0 h5 dark-grey-text">Dirección</th>
          <th scope="col" class="my-0 h5 dark-grey-text">Fecha</th>
          <th scope="col" class="my-0 h5 dark-grey-text">Pedido</th>
          <th scope="col" class="my-0 h5 dark-grey-text">Total</th>
        </tr>
      </thead>
      <tbody>
        <!--For loop for order list -->
        <tr>
          <td scope="row border-right: solid 1px">Laura</td>
          <td class="border-right: solid 1px">205 - 2384</td>
          <td class="border-right: solid 1px">
            6 de Diciembre y Telegrafo, N27-43
          </td>
          <td class="border-right: solid 1px">22/01/2021</td>
          <td class="border-right: solid 1px">
            Qty: 1 week plan, Qty: 1 Accelerador, Qty: 3 Chai Tea
          </td>
          <td class="border-right: solid 1px">$71.40</td>
          <td class="border-right: solid 1px">
            <a
              style="border-color: transparent; background-color: transparent"
              href="#"
            >
              <span class="badge badge-pill green">Pendin</span>
            </a>
          </td>
          <td>
            <a
              style="border-color: transparent; background-color: transparent"
              href="#"
            >
              <span class="badge badge-pill danger-color">Delete</span>
            </a>
          </td>
        </tr>
        <!--.End of For loop for order list -->
      </tbody>

      <tbody></tbody>
    </table>
  </div>
  <!-- Table Of Products -->

  <!--Main Content-->
</div>

<!--Footer-->
<footer
  class="page-footer text-center font-small mt-4 wow fadeIn"
  style="background-color: #faf0e6"
>
  <hr class="my-4" />

  <!-- Social icons -->
  <div class="pb-4">
    <a
      href="https://www.facebook.com/Juzmooth-879856658763480"
      class="nav-link waves-effect"
      target="_blank"
    >
      <i class="fab fa-facebook-f"></i>
    </a>

    <a
      href="https://www.instagram.com/juzmooth/?hl=es"
      class="nav-link waves-effect"
      target="_blank"
    >
      <i class="fab fa-instagram"></i>
    </a>
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2020 Copyright:
    <a href="#" target="_blank"> Juzmooth </a>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->

{% endblock %} {% block script %}
<script
  type="text/javascript"
  src="http://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.2/trianglify.min.js"
></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
  window.CSRF_TOKEN = "{{ csrf_token }}";
</script>
<script src="{% static 'auctions/main.js' %}"></script>
{% endblock %}
