{% extends "auctions/layout.html" %} {% load static %} {% block body %}

<!--Main layout-->
<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">
    <!--Grid row-->
    <div class="row wow fadeIn">
      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <img
          src="{% static 'auctions/juzmooth/juz_basket.jpg' %}"
          class="img-fluid"
          alt=""
        />
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <!--Content-->
        <div class="p-4">
          <div class="mb-3">
            <a href="">
              <span class="badge blue mr-1">New</span>
            </a>
            <a href="">
              <span class="badge purple mr-1">Bestseller</span>
            </a>
          </div>

          <p class="lead">
            <span class="mr-1">
              <del>$4.20</del>
            </span>
            <span>${{ prod_price }}</span>
          </p>

          <p class="lead font-weight-bold">
            <strong class="green-text">{{ prod_name }}</strong>
          </p>

          <p class="lead font-weight-bold">Description</p>

          <p>{{ prod_descpt }}</p>

          <form
            class="d-flex justify-content-left"
            action="{% url 'addToList' prod_id %}"
            method="post"
          >
            {% csrf_token %}
            <!-- Default input -->
            <input
              type="number"
              value="1"
              name="qty"
              aria-label="Search"
              class="form-control"
              style="width: 100px"
            />

            <input
              class="btn btn-purple btn-md my-0 p"
              type="submit"
              name="addItem"
              value="Add to cart"
              id = "addItem"
            >
            <i class="fas fa-shopping-cart ml-1"></i>
            </input>

          </form>

        </div>
            <!-- Notification -->
            <h6 class="my-5 h2 text-center">
        Notificación Importante.
        <span class="badge badge-danger badge-pill fas fa-ban">!</span>
      </h6>
      <hr />
      <h6 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted"
          ><strong>Trabajo en progreso. </strong>Anadir un producto a tu cart solo creara una lista. Puedes enviar tu lista como <strong>mensage directo</strong> a nuestras cuentas de
          <a
            href="https://www.facebook.com/Juzmooth-879856658763480"
            target="_blank"
          >
            <strong>Facebook</strong> </a
          >o
          <a href="https://www.instagram.com/juzmooth/?hl=es" target="_blank"
            ><strong>Instagram </strong></a
          >para realizar tu orden. Puedes además, mandarnos un mensaje a nuestro
          <strong>WhatsApp</strong>:
          <strong class="green-text">+593 93 993 4606</strong></span
        >
        <br />

      </h6>
      <hr />
        <!--Content-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer
  class="page-footer text-center font-small mt-4 wow fadeIn"
  style="background-color: #faf0e6"
>
  <hr class="my-4" />

  <!-- Social icons -->
  <div class="pb-4">
    <a
      href="https://www.facebook.com/Juzmooth-879856658763480"
      class="nav-link waves-effect"
      target="_blank"
    >
      <i class="fab fa-facebook-f"></i>
    </a>

    <a
      href="https://www.instagram.com/juzmooth/?hl=es"
      class="nav-link waves-effect"
      target="_blank"
    >
      <i class="fab fa-instagram"></i>
    </a>
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2020 Copyright:
    <a href="#" target="_blank"> Juzmooth </a>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->

{%endblock %}
