{% extends "auctions/layout.html" %} {% load static %} {% block body %}
<!--Main Content-->
<div class="container">
  <h2>Register</h2>

  {% if message %}
  <div>{{ message }}</div>
  {% endif %}

  <form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <input
        class="form-control"
        autofocus
        type="text"
        name="username"
        placeholder="Username"
      />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        type="email"
        name="email"
        placeholder="Email Address"
      />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        type="password"
        name="password"
        placeholder="Password"
      />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        type="password"
        name="confirmation"
        placeholder="Confirm Password"
      />
    </div>
    <!-- Temporary Checkbox -->
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="staff"
        id="flexCheckDefault"
        name="checkbox"
      />
      <label class="form-check-label" for="flexCheckDefault"> Staff </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="client"
        id="flexCheckChecked"
        name="checkbox"
        checked
      />
      <label class="form-check-label" for="flexCheckChecked"> Cliente </label>
    </div>
    <input class="btn btn-primary" type="submit" value="Register" />
  </form>

  Already have an account? <a href="{% url 'login' %}">Log In here.</a>

  <!--Grid row-->
  <div class="row wow fadeIn">
    <!--Grid column-->
    <div class="container mt-4">
      <img
        src="{% static 'auctions/juzmooth/juz_shotsIce.png' %}"
        class="card-img-top"
        alt=""
      />
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>
<!-- End Main -->

<!--Footer-->
<footer
  class="page-footer text-center font-small mt-10 wow fadeIn"
  style="background-color: #faf0e6"
>
  <hr class="my-4" />

  <!-- Social icons -->
  <div class="pb-4">
    <a
      href="https://www.facebook.com/Juzmooth-879856658763480"
      class="nav-link waves-effect"
      target="_blank"
    >
      <i class="fab fa-facebook-f"></i>
    </a>

    <a
      href="https://www.instagram.com/juzmooth/?hl=es"
      class="nav-link waves-effect"
      target="_blank"
    >
      <i class="fab fa-instagram"></i>
    </a>
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2020 Copyright:
    <a href="#" target="_blank"> Juzmooth </a>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
{% endblock %}
